@import "tailwindcss";

@theme {
  --font-oswald: "Oswald", sans-serif;
}

h1, h2, h3 {
  font-family: var(--font-oswald);
}

/* Això elimina l'ombra lletja que posen alguns navegadors al selector */
select {
    appearance: none;
    -webkit-appearance: none;
    border-radius: 0; /* Estil més quadrat i industrial */
}

/* Això asegura que quan cliques, el fons no es torni blanc */
select:focus {
    background-color: #18181b; 
}

/* Seguidors instagram */
.text-gradient-orange {
    background: linear-gradient(to bottom, #ea580c, #fb923c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}